@charset 'UTF-8';

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 300px;
    }

    section#login > div#imagem {
        float: left; /* Usada para alinhar elementos */
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div.campo input {
        width: calc(100% - 11%);
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
        height: 380px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font: 2em;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }

    div.campo input {
        width: calc(100% - 10%);
    }
}